
html, body{
	background-color: black;
	margin: 0; /* removes the margin padding to allow header background color to stretch from left to right */
}

/* HEADER ==============================================================================================================*/
header{
    display: flex;
    justify-content: space-between; /* pushes first element to the left and the last element to the right */
    background-color: black;
    min-height: 9vh;        /* ensures that the header is at least always 10% of the screen and doesnt get smaller */
    align-items: center;    /* vertical centering */
    padding-left: 2vw;
    color: white;
}

#header-nav-links {
    padding-right: 10vh;
    display: flex;
    gap: 20px;
    font-family: "Playfair Display", "Consolas", monospace;
}

header span{
    font-size: clamp(10px, 2vw, 16px); /* text wont go smaller than 16px and larger than 20px*/
    font-family: "Playfair Display", "Consolas", monospace;
}

header a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 1.0s ease;
    font-size: clamp(10px, 2vw, 16px);
}

header a:hover {
    text-decoration: underline;
    color: #FC7A08;
    transform: scale(1.05);
}

/* MAIN ==============================================================================================================*/
main{
	background-color: black;
	display: flex;
	flex-direction: column;
}

#profile{
    display: flex;              /* essential to make "flex-direction" work*/
	flex-direction: row;
}

/* LEFT SIDE */
#frontPageProfilePicture{
    width: 50%;
}

#frontPageProfilePicture img{
    width: 100%;                /* make the image take up n% of the width of the parent container */
    height: 100%;
    object-fit: cover;          /* prevents img from "stretching" when browser window size changes */
}

/* RIGHT SIDE */
#frontPageProfileDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
	background-color: #1F1F1F;
	color: white;
	font-family: "Playfair Display", arial, "Consolas", monospace;
	padding-top: 5vh;
	padding-left: 10vh;
}

#profile-title{
	font-family: "Playfair Display", arial, "Consolas", monospace;
	color: #E3E3E3;
	font-size: clamp(20px, 5vw, 60px);
}

#profile-title-support{
	font-family: "Playfair Display", arial, "Consolas", monospace;
	color: #CFCFCF;
	font-size: clamp(20px, 5vw, 25px);
	padding-right: 10vh;
	padding-bottom: 2vh;
}

#profile p{
    font-family: "Playfair Display", arial, "Consolas", monospace;
    color: #CFCFCF;
    font-size: clamp(10px, 2vw, 20px);
    padding-right: 10vh;
    padding-bottom: 5vh;
}

#profile-buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 7vh;
}

.profile-button{
    background-color: #CFCFCF;
    border: none;
    padding: 15px 35px;
    font-family: "Playfair Display", arial, "Consolas", monospace;
    font-size: 18px;
    font-size: clamp(10px, 2vw, 18px);

    /* transformation settings */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.profile-button:hover{
    background-color: #FC7A08;
    transform: scale(1.05);
}